<ion-modal-view ng-controller="AuthCtrl">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
  	<ion-list>
	  <ion-item class="item-avatar" ng-click="closeLogin(); opts.action();" ng-repeat="(provider, opts) in authProviders">
	    <img ng-src="{{opts.icon}}" aria-label="{{provider}}">
	    <h2>{{provider}}</h2>
      </li>
    </ul>
  </ion-content>
</ion-modal-view>
